div.step7(style="margin-top:30px;")
    md-switch(ng-model="pageMeta.wikiReady" ng-click="makeWikiReady()") Wiki Ready
        md-tooltip "Insert fields to meet Linked Earth Wiki requirements. NOTE: Column keys are only inserted for existing columns"
    md-switch(ng-model="pageMeta.noaaReady" ng-click="makeNoaaReady(true)") NOAA Ready (Beta)
        md-tooltip "Insert fields to meet NOAA requirements. NOTE: Column keys are only inserted for existing columns"