{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/maps.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/maps.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
{% endblock %}

{%  block content %}
    <div id="map-canvas"></div>

    <div class="container-fluid" id="main">
        <div class="col-xs-8" id="left">
            <div class="row">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</p>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class='img-responsive' src="{{ STATIC_URL }}img/person.png" id="employees">
                </div>
                <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class='img-responsive' src="{{ STATIC_URL }}img/person.png" id="employees">
                </div>
                <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class='img-responsive' src="{{ STATIC_URL }}img/person.png" id="employees">
                </div>
                <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi.</p>
                </div>
            </div>

        </div>
        <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    </div>

{% endblock %}

