<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Linked Paleo Data{% endblock %}</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{#        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css">#}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" async></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <!-- NAV BAR -->
        <div class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="navbar-brand" href="/"><img id='brand-img' src="{{ STATIC_URL }}img/lipd_logo1.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/convert">Convert</a>
                        </li>
                        <li>
                            <a href="/validate">Validate</a>
                        </li>
                        <li>
                            <a href="/schema">Schema</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- END NAV BAR -->

        <!-- Navigation Crumbs for Schema page -->
        {% block crumbs %}
        {% endblock %}

        <!-- MAIN -->
        {%  block content %}
        {%  endblock %}


        <!-- FOOTER -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">

                    <!-- Left side footer -->
                    <ul class="nav navbar-nav navbar-left">
                        <div class="col-md-6 text-center">
                            <a href='https://github.com/cmh553/geoChronR'><i class="fa fa-4x fa-github"></i></a>
                        </div>
                    </ul>

                    <!-- Right side footer -->
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
