<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Demo</title>
</head>
<body>

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/file_upload/ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/file_upload/iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/file_upload/fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('Upload finished.');
        }
    });
});
</script>
</body> 
</html>