{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
    <br>
    <!-- PLAN -->

    <!-- If the user is logged in -->
        <!-- redirect to a My Account page -->

    <!-- else -->
        <!-- display login and registration forms -->
        <!-- use javascript to on-the-fly validate forms -->

    <div class='container'>
        <div class="row">
            <div class="col-md-8" id="register">
                <form class="form-horizontal">
                    <fieldset>
                        <legend id="slim">Login</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control input-width" placeholder="Password">
                                </div>
                            </div>
                    </fieldset><br>
                    <fieldset>
                        <legend id="slim">Register</legend>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="First">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="Last">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control input-width" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Organization</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRegion" class="col-lg-2 control-label">Region</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control input-width" placeholder="optional">
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Benefits of creating an account:</h3>
                <ul>
                    <li>Choose to keep your files private</li>
                    <li>Keep a list of your most important files</li>
                    <li>Access to technical support</li>
                    <li>E-mails to notify you of LiPD updates</li>
                    <li>Even more reasons</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}