{% extends 'base.html' %}
{% block title %}Schema{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/accordion.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/accordion.js" async></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js" async></script>
{% endblock %}

<!-- breadcrumbs to track where you are in the schema -->
{% block crumbs %}
        <ul class="breadcrumb">
          <li><a href="#">Schema</a></li>
          <li><a href="#">Geo</a></li>
          <li class="active">Longitude</li>
        </ul>
{% endblock %}

<!-- list of schema items. accordian-style that unfolds as you get more specific -->
{% block content %}

    <!-- ACCORDION MOCKUP -->
    <div class="container centered">
        <h2 style="margin-left: 25%">Schema</h2>
        <p style="margin-left: 25%">Organization of Schemas</p>
            <div id="main">
                <div id="nestedAccordion">
                    <h2>Geo</h2>
                    <div>
                        <h3>Geometry</h3>
                            <div>Coordinates</div>
                                <p>Content</p>
                        <h3>Properties</h3>
                            <div>Site Name</div>
                                <p>Content here</p>
                    </div>

                    <h2>Pub</h2>
                    <div>
                        <h3>Author</h3>
                            <p>Content</p>
                        <h3>Published Date or Year</h3>
                            <p>Content</p>
                        <h3>Published Title</h3>
                            <p>Content</p>
                        <h3>DOI</h3>
                            <p>Content</p>
                        <h3>Issues</h3>
                            <p>Content</p>
                        <h3>Pages</h3>
                            <p>Content</p>
                        <h3>Journal Name</h3>
                            <div>Content</div>
                        <h3>Abstract</h3>
                            <div>Content</div>
                        <h3>Full Citation</h3>
                            <div>Content</div>
                        <h3>Online Resource</h3>
                            <div>Content</div>
                    </div>

                    <h2>Funding</h2>
                    <div>
                        <h3>Funding Agency Name</h3>
                            <p>Explain what funding agency name is</p>
                        <h3>Grant</h3>
                            <div>Explain what a grant is</div>
                    </div>

                    <h2>Online Resource</h2>
                        <div>Explain what online resource means</div>
                    <h2>Original Source URL</h2>
                        <div>Explain what Original source URL is</div>
                    <h2>Archive</h2>
                        <div></div>
                    <h2>Date</h2>
                        <div></div>
                    <h2>Study Name</h2>
                        <div></div>
                </div>
            </div>
    </div>

    <!-- TABLE MOCKUP -->
    <div class="container centered">
      <h2>Schema</h2>
      <p>Organization of Schemas</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Property</th>
            <th>Expected Type</th>
            <th>Contains</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Geo</td>
            <td>Class</td>
            <td><a href="#">Type</a>, <a href="#">Geometry</a>, <a href="#">Properties</a></td>
            <td>Site location information and coordinates</td>
          </tr>
          <tr>
            <td>Funding</td>
            <td>Class</td>
            <td><a href="#">Funding Agency Name</a>, <a href="#">Grant</a></td>
            <td>Organizations that funded the project</td>
          </tr>
          <tr>
              <td>Pub</td>
              <td>Class</td>
              <td><a href="#">Authors</a>, <a href="#">Published Date Or Year</a>, <a href="#">Published Title</a>
                  <a href="#">Journal Name</a>, <a href="#">Volume</a>, <a href="#">Edition</a>
                  <a href="#">Issue</a>, <a href="#">Pages</a>, <a href="#">DOI</a>
                  <a href="#">Online Resource</a>, <a href="#">Full Citation</a>, <a href="#">Abstract</a>
              </td>
              <td> Published information about the study.
          <tr>
            <td>SiteName</td>
            <td>String</td>
            <td></td>
            <td>Site where study took place</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
{% endblock %}
