script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-aria.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
script(src='js/ngColors.js')
script(src='lib/logger.js')

block js
