script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
script(src='js/ngColors.js')
script(src='js/logger.js')
block js
