script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
script(src='js/indexApp.js')
script(src='js/ngForm.js')
script(src='js/ngSchema.js')
script(src='js/ngFile.js')
script(src='js/ngMap.js')
script(src='js/ngColors.js')
script(src='js/animate.js')
script(src='js/smooth.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/api-check/7.5.0/api-check.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
script(src='angular-simple-logger/dist/index.js')
script(src="paper-collapse/paper-collapse.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
script(src='//maps.googleapis.com/maps/api/js?sensor=false')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.0/angular-google-maps.min.js')
script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
script(src='http://greggman.com/downloads/examples/colresizable/colResizable-1.5.min.js')
script(src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js")
