header
    .navbar.navbar-default.navbar-static-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')     
                    img(src='img/lipd-nav-brand.jpg')
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                      a(href='/') Home
                    li
                      a(href='/schema') Schema
                    li
                      a(href='/create') Create LiPD
                    li
                      a(href='/validator') Validator
