footer
    div.container
        .copyright
            p
                span © The LiPD Project
                    ul.social-network
                        li
                            a(href='https://github.com/cmh553/geoChronR', data-placement='top', title='Github')
                                i.fa.fa-github.fa-6
