{% extends 'base.html' %}
{% block title %}Linked Paleo Data{% endblock %}

{% block content %}
    <br>
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col centered">
                    <img src="{{ STATIC_URL }}img/world.jpg" class="img-rounded img-responsive " alt="World" max-width='90%'>
                    <h1>Welcome!</h1>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisici elit,
                        <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        <br>Ut enim ad minim veniam, quis nostrud</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisici elit,
                        <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        <br>Ut enim ad minim veniam, quis nostrud</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisici elit,
                        <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        <br>Ut enim ad minim veniam, quis nostrud</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}