//- File chooser: Select a lipd file 
li#buttons(style="list-style-type: none;")
  input#file-input(title="Upload your LiPD file for validation" name='file' type="file" accept=".lpd" style="max-width:200px; width:175px; padding:4px; display:inline;")

li#buttons(style="list-style-type: none;")

  button.valid-btn(ng-click="validate()" ng-disabled="pageMeta.filePicker" type="button") Validate
    md-tooltip LiPD data is validated during upload. If you make any corrections to the file, validate again to show updated results.
  button.valid-btn(ng-click="saveSession()") Save Session
    md-tooltip Save your progress. The data will be stored in your browser for as long as you keep the window open.
  button.valid-btn#download-btn(ng-click="checkCaptcha('lipd', false)" type="button") Download LiPD
    md-tooltip Download LiPD file when all requirements are met and errors are fixed
  button.valid-btn#download-btn(ng-click="checkCaptcha('noaa', false)" type="button") Download NOAA
    md-tooltip Download NOAA file when all requirements are met and errors are fixed
  div(vc-recaptcha key="'6LchMhIUAAAAAGjGCfNGxPkOJPl3ilJ2sQrapbbL'" ng-model="gRecaptchaResponse" on-success="checkCaptcha(pageMeta.downloadMode, true)" ng-show="pageMeta.captcha")
