//- File chooser: Select a lipd file
div(style="margin:10px; padding:5px;")
    input.choosefile(custom-on-change="uploadBtnChange" ng-click="uploadBtnClick" title="Upload LiPD file for comparison" name='file' type="file" accept=".lpd" style="display: inline-block;")
    //button.green-btn-off#download-btn(type="button" ng-click="downloadZip()") Download LiPD
    //    md-tooltip Download LiPD file after resolving conflicts
