//- File chooser: Select a lipd file
div
  li#buttons(style="list-style-type: none;")
    input.step2#file-input(title="Upload your LiPD file for validation" name='file' type="file" accept=".lpd" style="max-width:200px; width:175px; padding:4px; display:inline;")

div
  li#buttons(style="list-style-type: none;")
    button.valid-btn.step3(type="button" ng-click="validate()" ng-disabled="pageMeta.filePicker") Validate
      md-tooltip LiPD data is validated during upload. If you make any corrections to the file, validate again to show updated results.
    button.valid-btn.step4(type="button" ng-click="saveSession()") Save Session
      md-tooltip Save your progress. The data will be stored in your browser for as long as you keep the window open.
    button.valid-btn.step5#download-btn(type="button" ng-click="downloadZip()") Download LiPD
      md-tooltip Download LiPD file when all requirements are met and errors are fixed
    button.valid-btn.step6#download-btn(type="button" ng-click="downloadNoaa()" ) Download NOAA (Beta)
      md-tooltip Download NOAA file when all requirements are met and errors are fixed
    //div(vc-recaptcha key="'6LdkZEAUAAAAADoC8AFc8f2DLkIuQ0zmvx0S34jx'" ng-model="gRecaptchaResponse" on-success="checkCaptcha(pageMeta.downloadMode, true)" ng-show="pageMeta.captcha")
    //button(class="g-recaptcha" data-sitekey="6LdkZEAUAAAAADoC8AFc8f2DLkIuQ0zmvx0S34jx" data-callback="ccb(resp)") Submit

