// When a LPD file is chosen, all the files inside are listed here.
li(style="list-style-type: none;")
  pre(ng-class="feedback.errCt>0 ? 'on' : 'off'" style="background-color:#FEBABB; border: none;") {{ feedback.errCt}} errors
    ul
      li(ng-repeat="err in feedback.errMsgs track by $index") {{err}}

  pre(ng-class="feedback.wrnCt>0 ? 'on' : 'off'" style="background-color:#FEEEB6; border: none;") {{ feedback.wrnCt }} warnings
    ul
      li(ng-repeat="wrn in feedback.wrnMsgs track by $index") {{wrn}}
      
  //- pre(ng-class="feedback.posMsgs.length>0? 'on': 'off'" style="background-color:#DFF1C1; border: none;")
  //- 	ul
  //- 		li(ng-repeat="pos in feedback.posMsgs track by $index") {{pos}}

  pre(ng-class="feedback.status == 'PASS' ? 'on' : 'off'" style="background-color:#DFF1C1; border: none;") Validation Complete!

  
  // DEV MODE: Put metadata in pre box, so we can see the metadata behind the json-tree 	
  //- pre#metaPretty(ng-model="files.json")
  //- pre#csvPretty
  
li(style="list-style-type: none;")
  pre(ng-class="files.fileCt > 0? 'on' : 'off'" style="background-color:#eee; border: none;") {{files.fileCt}} files in LiPD
    ul
      li(ng-repeat="file in allFiles track by $index" ng-click="showAdvanced($event, file)") {{ file.filenameShort }}
