////
//   Created by chrisheiser1 on 8/7/17.
//
div
   pre(ng-show="pageMeta.oldVersion !== 'NA'" style="background-color:#DFF1C1; border: none;")
      p Welcome to the future!
      p We took the liberty of updating your file from LiPD version v{{pageMeta.oldVersion}} to v1.3