
html {
    position: relative;
    min-height: 100%;
}

body {
   margin:0;
   padding:0;
   min-height:100%;
}

#main {
}

.footer {
    width: 100%;
    bottom: 0;
    height: 70px;
    position: absolute;
    background-color: #373737;
    color: #666;
}

.footer-lg {
    padding: 15px 0 15px 0 !important;
}

.footer-sm {
    padding: 0 0 0 0 !important;
}

.img{
    max-width: 60%;
}

.input-width{
    max-width: 60%;
}

.centered{
    max-width: 80%;
    float: none;
    margin: auto auto;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-header {
    padding-left: 7%;
}

body > .container {
    padding: 0;
    min-height: 100%;
    position: relative;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#login_box {
    max-width: inherit;
    margin: inherit;

}

#small_well {
    margin: 0 auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#register {
    padding-left: 10%;
}

#slim {
    max-width: 80%;
}

#brand-img {
    max-height: 30px;
    display: inline-block;
}

#employees {
    max-width: 125px;
    max-height: 125px;
    display: inline-block;
    margin: 30px 30px;
}
