/*  GENERAL  */

#nsf {
  float:right;
	padding: 5px 10px 10px 5px;
}

html{
	height: 100%
}

body {
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#656565;
	min-height: 100%;
}

/*#bg-img{*/
	/*background: url(/img/peaks.jpg);*/
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center bottom;*/
	/*background-size: cover;*/
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
/*}*/


/* Primary link colors  */
a{color: #000;}
a:hover{color:#71a436;}
a:active {
	outline:0;
}
a.right {
	right: 50px;
	bottom: 5px;
	position: absolute;
}


.clear {
	clear:both;
}

h1,h2, h3, h4, h5, h6 {
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
	line-height:1.1em;
	color:#333;
	margin-bottom: 20px;
}


#pre-edit{
    background-color: #fff;
}

/*  Map  */
.angular-google-map-container {
	height:400px;
	border:none;
}

/* ANGULAR MATERIAL  */
.md-toolbar-tools {
	color: black !important;
  background-color: #F9F9F9;
}

/*.md-toolbar-tools{
  color: #16a085;
}
.md-button {
  color: #BDBDBD;
}*/

/*  SCHEMA TABLE  */

/* remove borders from all table elements */
/*table, tr, td{
	border : none !important;
}*/

/* change highlight color of hover on table elements */
/*tr:hover td {
	background:#EEF8FF;
}
tbody tr:hover td.nohover {
	background: none;
	background-color: #fff;
}*/

/* LAYOUT  */
#wrapper{
	/*width:100%;*/
	margin:0;
	padding:0;
  min-height:100%;
  position:relative;
}

.container {
	padding:0 0 0 0;
	position:relative;
}

.row,.row-fluid {
	margin-bottom:30px;
}

.row .row,.row-fluid .row-fluid{
	margin-bottom:30px;
}

.row.nomargin,.row-fluid.nomargin {
	margin-bottom:0;
}


/* Header  */

header .navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
}

.navbar-brand {
  color: #222;
	text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
	letter-spacing: -1px;
  margin-top: 30px;
  padding: 0 0 0 15px;
}


header .navbar-collapse  ul.navbar-nav {
  float: right;
  margin-right: 0;
}

header .navbar-default{
  /*background-color: #111;*/
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

header .navbar {
  min-height: 100px;
}

header .navbar-nav > li  {
  padding-bottom: 30px;
  padding-top: 30px;
}

header  .navbar-nav > li > a {
  padding-bottom: 6px;
  padding-top: 5px;
  margin-left: 2px;
  line-height: 30px;
	font-weight: 700;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

header .nav .caret {
  border-bottom-color: #f5f5f5;
  border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color:  #fff;
}

/* --- menu --- */

header .navigation {
	float:right;
}

header ul.nav li {
	border:none;
	margin:0;
}

header ul.nav li a {
	font-size:12px;
	border:none;
	font-weight:700;
	text-transform:uppercase;
}

header ul.nav li ul li a {
	font-size:12px;
	border:none;
	font-weight:300;
	text-transform:uppercase;
}


.navbar .nav > li > a {
  color: #111;
  text-shadow: none;
}

.navbar .nav a:hover {
	background:none;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover {
	background:none;
	font-weight:700;
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
	background:none;
	outline:0;
	font-weight:700;
}

.navbar .nav li .dropdown-menu {
	z-index:2000;
}

header ul.nav li ul {
	margin-top:1px;
}
header ul.nav li ul li ul {
	margin:1px 0 0 1px;
}

 select.selectmenu {
	display:none;
}

/* Featured  */

#featured{
	width: 100%;
	background:#fcfcfc;
	position:relative;
	margin:0;
	padding:0;
}

/* Section : Content */

#about {
	position:relative;
	padding:30px 0 40px 0;
	background: transparent;
	border-color: transparent;
}

#contact {
	position:relative;
	background:transparent;
	padding:30px 0 40px 0;
}

#content {
	position:relative;
	background: transparent;
	padding:30px 0 10px 0;
  border-color: transparent;
}

#content img {
	max-width:100%;
	height:auto;
}

/* Section :  Bottom */

#bottom {
	background: #fcfcfc;
	padding: 50px 0 0;
}

/* Forms  */

/* --- button --- */
/*
.btn-theme {
	color: #fff;
}
.btn-theme:hover {
	color: #eee;
}*/

/* --- list style --- */

ul.general {
	list-style:none;
	margin-left:0;
}

ul.link-list{
	margin:0;
	padding:0;
	list-style:none;
}

ul.link-list li{
	margin:0;
	padding:2px 0 2px 0;
	list-style:none;
}

footer ul.link-list li a{
	color:#fff;
}
footer ul.link-list li a:hover {
	color:#eee;
}
/* --- Heading style --- */

h4.heading {
	font-weight:700;
}

.heading { margin-bottom: 30px; }

.heading {
	position: relative;
}

#bottom .widgetheading {
	position: relative;
	border-bottom: #e6e6e6 1px solid;
	padding-bottom: 9px;
}

footer .widgetheading {
	position: relative;
}

footer .widget .social-network {
	position:relative;
}

#bottom .widget .widgetheading span, aside .widget .widgetheading span, footer .widget .widgetheading span {
	position: absolute;
	width: 60px;
	height: 1px;
	bottom: -1px;
	right:0;

}

/* Footer */

footer{
	padding:60px 0 0 0;
	color:#f8f8f8;
  position:relative;
  bottom:0;
  width:100%;
  height:30px;
}

footer a {
	color:#fff;
}

footer a:hover {
	color:#eee;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	color:#fff;
}

footer address {
	line-height:1.6em;
}

footer h5 a:hover, footer a:hover {
	text-decoration:none;
}

footer p {
	float:right;
}

ul.social-network {
	list-style:none;
	margin:0;
}

ul.social-network li {
	display:inline;
	margin: 0 5px;
}

#sub-footer{
	text-shadow:none;
	color:#f5f5f5;
}

#sub-footer p{
	margin:0;
	padding:0;

}

#sub-footer span{
	color:#f5f5f5;
}

.copyright {
	text-align:left;
	font-size:12px;
}

#sub-footer ul.social-network {
	float:right;
}

/* Divider, Line & Misc */

.solidline {
	border-top:1px solid #000;
	margin:0 0 30px;
}

.dottedline {
	border-top:1px dotted #000;
	margin:0 0 30px;
}

.dashedline {
	border-top:1px dashed #000;
	margin:0 0 30px;
}

.blankline {
	height:1px;
	margin:0 0 30px;
}

.scrollup{
    position:fixed;
	width:32px;
	height:32px;
    bottom:0px;
    right:20px;
	background: #222;

}

a.scrollup {
	outline:0;
	text-align: center;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}


/* Position & alignment */

.absolute{
	position:absolute;
}

.relative{
	position:relative;
}

.aligncenter{
	text-align:center;
}

.aligncenter span{
	margin-left:0;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.floatnone {
	float:none;
}

.aligncenter {
	text-align:center;
}

/*  Image alignment */

img.pull-left, .align-left{
	float:left;
	margin:0 15px 15px 0;
}

.widget img.pull-left {
	float:left;
	margin:0 15px 15px 0;
}

img.pull-right, .align-right {
	float:right;
	margin:0 0 15px 15px;
}

/* Spacer, margin */

.clear-marginbot{
	margin-bottom:0;
}

.marginbot10{
	margin-bottom:10px;
}
.marginbot20{
	margin-bottom:20px;
}
.marginbot30{
	margin-bottom:30px;
}
.marginbot40{
	margin-bottom:40px;
}

.clear-margintop{
	margin-top:0;
}

.margintop10{
	margin-top:10px;
}

.margintop20{
	margin-top:20px;
}

.margintop30{
	margin-top:30px;
}

.margintop40{
	margin-top:40px;
}





/* =============================
media
============================= */

@media (min-width: 768px) and (max-width: 979px) {

	a.detail{
		background:none;
		width:100%;
	}

	footer .widget form  input#appendedInputButton {
		  display: block;
		  width: 91%;
		  -webkit-border-radius: 4px 4px 4px 4px;
			 -moz-border-radius: 4px 4px 4px 4px;
				  border-radius: 4px 4px 4px 4px;
	}

	footer .widget form  .input-append .btn {
	  display: block;
	  width: 100%;
	  padding-right: 0;
	  padding-left: 0;
	  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  margin-top:10px;
}

}

/* browser below 767px */
@media (max-width: 767px) {

  body {
    padding-right: 0;
    padding-left: 0;
    /*background-image: none !important;*/
  }

	.navbar-brand {
		margin-top: 10px;
		border-bottom: none;
    color: #111;
	}
	.navbar-header {
		margin-top: 20px;
		border-bottom: none;
	}

	.navbar-nav {
		border-top: none;
		float: none;
		width: 100%;
	}

	header .navbar-nav > li  {
		padding-bottom: 0;
		padding-top: 0;
	}

	header .nav li .dropdown-menu  {
		margin-top: 0;
	}


/* FIGURE OUT HOW TO FLOAT NAV LEFT WHEN COLLAPSED */
	.navbar-collapse  ul.navbar-nav {
		border: none;
		overflow: hidden;
		float: left;
		margin-left:0;
	}

	footer .col-lg-1, footer .col-lg-2, footer .col-lg-3, footer .col-lg-4, footer .col-lg-5, footer .col-lg-6,
	footer .col-lg-7, footer .col-lg-8, footer .col-lg-9, footer .col-lg-10, footer .col-lg-11, footer .col-lg-12{
		margin-bottom:20px;
	}

	#sub-footer ul.social-network {
		float:left;
	}



  [class*="span"] {
		margin-bottom:20px;
  }

}

@media (max-width: 480px) {
  body {
    background-image: none !important;
  }
  .navbar-brand{
    color: #111
  }
	.search{
		float:left;
	}
	.cta-text {
		margin:0 auto;
		text-align:center;
	}
}

@media (max-width: 360px) {
  body {
    background-image: none !important;
  }
  .navbar-brand{
    color: #111
  }
}
