/*a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link,
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation  {
	color: #16a085;
}

.navbar-brand span{
    color: #16a085;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
	color: #16a085;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #16a085;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #16a085;
}

.flex-control-nav li a:hover,
.flex-control-nav li a.active {
  background-color:  #16a085;
}

.box-bottom {
	background: #16a085;
}

.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background:  #16a085;
  border:1px solid  #16a085;
}

.btn-theme {
  border:1px solid #16a085;
  background:  #16a085;
}

.modal.styled .modal-header {
  background-color:  #16a085;
}

.da-dots span{
	background:  #16a085;
}

footer{
	background: #16a085;
}
#sub-footer{
	background: #16a085;
}*/
