div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="")
    // chronData[1] : Should only be one entry2. Don't need to loop

    div.btn-row(layout="row")

        div(ng-repeat='entry2 in entry.measurementTable track by $index')
            button.valid-btn.expandable-off(ng-if="entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} measurement {{$index+1}}
            button.valid-btn.expandable-on(ng-if="!entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} measurement {{$index+1}}

    div.btn-row(layout="row")

        div(ng-if='entry.model[0].method')
            button.valid-btn.expandable-off(ng-if="entry.model[0].method.show" ng-click="entry.model[0].method.show = !entry.model[0].method.show" type="button") chron {{$parent.$index+1}} model 1 method
            button.valid-btn.expandable-on(ng-if="!entry.model[0].method.show" ng-click="entry.model[0].method.show = !entry.model[0].method.show" type="button") chron {{$parent.$index+1}} model 1 method

        div(ng-repeat='entry2 in entry.model[0].summaryTable track by $index')
            button.valid-btn.expandable-off(ng-if="entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} model 1 summary {{$index+1}}
            button.valid-btn.expandable-on(ng-if="!entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} model 1 summary {{$index+1}}

        div(ng-repeat='entry2 in entry.model[0].ensembleTable track by $index')
            button.valid-btn.expandable-off(ng-if="entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} model 1 ensemble {{$index+1}}
            button.valid-btn.expandable-on(ng-if="!entry2.tmp.show" ng-click="entry2.tmp.show = !entry2.tmp.show" type="button") chron {{$parent.$index+1}} model 1 ensemble {{$index+1}}

