div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="" ng-init="parentIdx = $index")

    // chronData[1] : Should only be one entry2. Don't need to loop
    div(ng-repeat="entry2 in entry.measurementTable track by $index" layout-wrap="")
        md-card(ng-show="entry2.tmp.toggle")
            //md-subheader.md-primary chron {{parentIdx+1}} > measurement {{$index+1}}
            md-subheader.md-primary chron {{parentIdx}} > measurement {{$index}}

            include ./table_root.jade

            div.step16
                div(ng-controller="SpreadsheetCtrl as sc")
                    // Column Data
                    include ./table_column
                    div
                        // Spreadsheet Parser
                        div(ng-if="pageMeta.spreadsheetBeta")
                            include ./spreadsheet_csv.jade

            .md-toolbar-tools(style="background-color:white;")
                span(flex)
                button.green-btn-off(type="button" ng-click="refreshRender()"  style="padding-right: 2px;") Refresh Spreadsheet
                button.green-btn-off(type="button" ng-click="addColumn(entry2)" style="padding-right: 2px;") Add Column
                button.red-btn-off(type="button" ng-click="removeColumn(entry2, null)"  style="padding-right: 2px;") Remove Column
                button.red-btn-off(type="button" ng-click="removeBlock(entry.measurementTable, $index)" style="padding-right: 2px;") Delete Table

