div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="" ng-init="parentIdx = $index")
    // chronData[1] : Should only be one entry2. Don't need to loop

    div.btn-row(layout="row")

        div(ng-repeat='entry2 in entry.measurementTable track by $index')
            md-divider
            button.table-tab-btn-on(ng-if="entry2.tmp.toggle" ng-click="entry2.tmp.toggle = false" type="button") chron {{parentIdx}} measurement {{$index}}
            button.table-tab-btn-off(ng-if="!entry2.tmp.toggle" ng-click="expandEntry(files.json.chronData, entry2)" type="button") chron {{parentIdx}} measurement {{$index}}

    div.btn-row(layout="row")

        div(ng-if='entry.model[0].method')
            md-divider
            button.table-tab-btn-on(ng-if="entry.model[0].method.tmp.toggle" ng-click="entry.model[0].method.tmp.toggle = false" type="button") chron {{parentIdx}} model 0 method
            button.table-tab-btn-off(ng-if="!entry.model[0].method.tmp.toggle" ng-click="expandEntry(files.json.chronData, entry.model[0].method)" type="button") chron {{parentIdx}} model 0 method

        div(ng-repeat='entry2 in entry.model[0].summaryTable track by $index')
            md-divider
            button.table-tab-btn-on(ng-if="entry2.tmp.toggle" ng-click="entry2.tmp.toggle = false" type="button") chron {{parentIdx}} model 0 summary {{$index}}
            button.table-tab-btn-off(ng-if="!entry2.tmp.toggle" ng-click="expandEntry(files.json.chronData, entry2)" type="button") chron {{parentIdx}} model 0 summary {{$index}}

        div(ng-repeat='entry2 in entry.model[0].ensembleTable track by $index')
            md-divider
            button.table-tab-btn-on(ng-if="entry2.tmp.toggle" ng-click="entry2.tmp.toggle = false" type="button") chron {{parentIdx}} model 0 ensemble {{$index}}
            button.table-tab-btn-off(ng-if="!entry2.tmp.toggle" ng-click="expandEntry(files.json.chronData, entry2)" type="button") chron {{parentIdx}} model 0 ensemble {{$index}}


