// chron DATA
md-toolbar.md-hue-1
	h2.md-toolbar-tools
		span chronData
		md-tooltip {{getTooltip("chronData", "chronData")}}

include ./chron_buttons.jade
include ./chron_meas.jade
include ./chron_model.jade

	
div(layout='', layout-padding='', layout-sm='column' style="float: right;")

	md-input-container(flex="")
		label Table Type
		input.mdautocomplete(type="text" ng-model="dropdowns.tabletype"
		uib-typeahead="table for table in ['summary', 'measurement'] | filter:$viewValue" typeahead-min-length="0")
	button.green-btn-off.step21(ng-click='addBlock(files.json.chronData[0], dropdowns.tabletype, "chron")' style="margin: 1.5em;" type="button") + Add Table
	button.red-btn-off(type="button" ng-click="removePaleoChron('chron')" style="margin: 1.5em; padding: 2px 2px 2px 2px;") Delete ChronData
	// END MEASUREMENT TABLE





// END chron DATA
