div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="" ng-init="parentIdx = $index")
    // chronData[1] : Should only be one entry2. Don't need to loop

    div(ng-if="entry.model[0].method" layout-wrap="")
        md-card(ng-show="entry.model[0].method.tmp.toggle")
            //md-subheader.md-primary chron {{parentIdx+1}} > model 1 > method
            md-subheader.md-primary chron {{parentIdx}} > model 0 > method
            include ./table_method

    div(ng-repeat="entry2 in entry.model[0].summaryTable track by $index" )
        md-card(ng-if="entry2.tmp.toggle")
            //md-subheader.md-primary chron {{parentIdx+1}} > model 1 > summary {{$index+1}}
            md-subheader.md-primary chron {{parentIdx}} > model 0 > summary {{$index}}

            include ./table_root
            div(ng-controller="SpreadsheetCtrl as sc")
                // Column Data
                include ./table_column_chron
                div
                    // Spreadsheet parser
                    div(ng-if="pageMeta.spreadsheetBeta")
                        include ./spreadsheet_csv.jade

                .md-toolbar-tools(style="background-color:white;")
                    span(flex)
                    button.green-btn-off(type="button" ng-click="refreshRender()"  style="padding-right: 2px;") Refresh Spreadsheet
                    button.green-btn-off(type="button" ng-click="addColumn(entry2)" style="padding-right: 2px;") Add Column
                    button.red-btn-off(type="button" ng-click="removeColumn(entry2, null)"  style="padding-right: 2px;") Remove Column
                    button.red-btn-off(type="button" ng-click="removeBlock(entry.model[0].summaryTable, $index)" style="padding-right: 2px;") Delete Table



    div(ng-repeat="entry2 in entry.model[0].ensembleTable track by $index" )
        md-card(ng-if="entry2.tmp.toggle")
            //md-subheader.md-primary chron {{parentIdx+1}} model 1 ensemble {{$index+1}}
            md-subheader.md-primary chron {{parentIdx}} model 0 ensemble {{$index}}
            include ./table_root
            div(ng-controller="SpreadsheetCtrl as sc")
                // Column Data
                include ./table_column.jade
                div
                    // Spreadsheet parser
                    div(ng-if="pageMeta.spreadsheetBeta")
                        include ./spreadsheet_csv.jade


                .md-toolbar-tools(style="background-color:white;")
                    span(flex)
                    button.green-btn-off(type="button" ng-click="refreshRender()"  style="padding-right: 2px;") Refresh Spreadsheet
                    button.green-btn-off(type="button" ng-click="addColumn(entry2)" style="padding-right: 2px;") Add Column
                    button.red-btn-off(type="button" ng-click="removeColumn(entry2, null)"  style="padding-right: 2px;") Remove Column
                    button.red-btn-off(type="button" ng-click="removeBlock(entry.model[0].ensembleTable, $index)" style="padding-right: 2px;") Delete Table

