// FUNDING
md-toolbar.md-hue-1
  h2.md-toolbar-tools
    span Funding
    md-tooltip Source of monetary support underlying the collection/creation/analysis/curation of the Dataset

div.btn-row( layout="row")
  div(ng-repeat="entry in files.json.funding track by $index")
    button.valid-btn.expandable-off(type="button" ng-if="entry.tmp.toggle" ng-click="entry.tmp.toggle = false;") Funding {{$index+1}}
    button.valid-btn.expandable-on(type="button" ng-if="!entry.tmp.toggle" ng-click="expandEntry(files.json.funding, entry)") Funding {{$index+1}}



div(ng-repeat='entry in files.json.funding track by $index' layout-wrap="")
  md-card(ng-show="entry.tmp.toggle")
    //- div(layout='', layout-padding='', layout-sm='column')
    md-subheader.md-primary funding {{$index+1}}
    div(layout='', layout-padding='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Agency
        input(ng-model='entry.agency')
        md-tooltip Which entity was the Dataset funded by?
      md-input-container(flex='', ng-class="md-input-has-value")
        label Grant
        input(ng-model='entry.grant')
        md-tooltip What was the Funding source for the Dataset?
    div(layout='', layout-padding='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Principal Investigator
        input(ng-model='entry.investigator')
        md-tooltip Who was the lead on the source of Funding for the Dataset?
      md-input-container(flex='', ng-class="md-input-has-value")
        label Country
        input(ng-model='entry.country')
        md-tooltip Which nation funded the Dataset?
        
    .md-toolbar-tools(style="background-color:white;")
      span(flex)
      button.warn-btn(ng-click='removeBlock(files.json.funding, $index)' style="margin: 1.5em;" type="button") Delete
      
div(layout='', layout-padding='', layout-sm='column' style="float: right;")
  button.valid-btn(ng-click='addBlock(files.json.funding, "funding", null)' style="margin: 1.5em;" type="button") Add
  //- button.valid-btn(ng-click='addBlock(entry, "funding")' style="margin: 1.5em;")  + Add Funding
