// GEOGRAPHY
md-toolbar.md-hue-1
	h2.md-toolbar-tools
		span Geography
		md-tooltip The geographic data and metadata for the dataset

// COORDINATES


md-switch(ng-model='pageMeta.decimalDegrees' ng-click="convertCoordinates()") {{pageMeta.decimalDegrees? "Decimal Degrees": "Degrees-Minutes-Seconds"}}
	md-tooltip LiPD stores coordinates as Decimal Degrees. You may switch to Degrees-Minutes-Seconds format and we will convert the values for you.

div(layout='', layout-padding='', layout-sm='column' ng-if="pageMeta.decimalDegrees")
	md-input-container(flex='', ng-class="md-input-has-value")
		label Latitude *
		input(ng-model='files.json.geo.geometry.coordinates[1]', type='number' step="0.0001")
		md-tooltip {{getTooltip("geo", "latitude")}}

	md-input-container(flex='', ng-class="md-input-has-value")
		label Longitude *
		input(ng-model='files.json.geo.geometry.coordinates[0]', type='number' step="0.0001")
		md-tooltip {{getTooltip("geo", "longitude")}}

div(ng-if="!pageMeta.decimalDegrees")
	md-subheader.md-primary Latitude
	div(layout='', layout-padding='', layout-sm='column')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Degrees
			input(ng-model='dms.lat.d', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Minutes
			input(ng-model='dms.lat.m', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Seconds
			input(ng-model='dms.lat.s', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Hemisphere
			md-select(ng-model='dropdowns.current.dms.lat' ng-model-options="{trackBy: '$value.id'}" aria-label="filler")
				md-option(ng-value="dir" ng-repeat="dir in dropdowns.dms.lat") {{ dir.name }}

	md-subheader.md-primary Longitude
	div(layout='', layout-padding='', layout-sm='column')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Degrees
			input(ng-model='dms.lon.d', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Minutes
			input(ng-model='dms.lon.m', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Seconds
			input(ng-model='dms.lon.s', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Hemisphere
			md-select(ng-model='dropdowns.current.dms.lon' ng-model-options="{trackBy: '$value.id'}" aria-label="filler")
				md-option(ng-value="dir" ng-repeat="dir in dropdowns.dms.lon") {{ dir.name }}


div(layout='', layout-padding='', layout-sm='column')
	md-input-container(flex='', ng-class="md-input-has-value")
		label Elevation
		input(ng-model='files.json.geo.geometry.coordinates[2]', type='number')
		md-tooltip {{getTooltip("geo", "elevation")}}

	md-input-container(flex='', class="md-input-has-value")
		label Units
		input(value="Meters (m)" disabled)
		md-tooltip {{getTooltip("geo", "units")}}

//- md-subheader.md-primary Properties
div(layout='', layout-padding='', layout-sm='column')
	md-input-container(flex='', ng-class="md-input-has-value")
		label(ng-if="pageMeta.noaaReady") Site Name *
		label(ng-if="!pageMeta.noaaReady") Site Name
		input(ng-model='files.json.geo.properties.siteName' aria-label="Site Name")
		md-tooltip {{getTooltip("geo", "siteName")}}

	md-input-container(flex='', ng-class="md-input-has-value")
		label(ng-if="pageMeta.noaaReady") Location *
		label(ng-if="!pageMeta.noaaReady") Location
		input(ng-model='files.json.geo.properties.location' aria-label="Location")
		md-tooltip {{getTooltip("geo", "location")}}

	md-input-container(flex="")
		label Country
		md-select(ng-model="files.json.geo.properties.country")
			md-option(ng-repeat="country in dropdowns.countries" ng-value="country.name") {{country.name}} ({{country.code}})
		md-tooltip {{getTooltip("geo", "country")}}

div(layout='', layout-padding='', layout-sm='column' ng-if="pageMeta.noaaReady")
	md-input-container(flex='', ng-class="md-input-has-value")
		label NASA GCMD Location *
		input(ng-model='files.json.geo.properties.gcmdLocation')
		md-tooltip {{getTooltip("geo", "gcmdLocation")}}
