// GEOGRAPHY
md-toolbar.md-hue-1
	h2.md-toolbar-tools
		span Geography

// COORDINATES


md-switch(ng-model='pageMeta.decimalDegrees') {{pageMeta.decimalDegrees? "Decimal Degrees": "Degrees-Minutes-Seconds"}}
	md-tooltip LiPD stores coordinates as Decimal Degrees. You may switch to Degrees-Minutes-Seconds format and we will convert the values for you.

div(layout='', layout-padding='', layout-sm='column' ng-if="pageMeta.decimalDegrees")
	md-input-container(flex='', ng-class="md-input-has-value")
		label Latitude *
		input(ng-model='files.json.geo.geometry.coordinates[1]', type='number')
		md-tooltip The latitude value in decimal degrees from -90 to 90
	md-input-container(flex='', ng-class="md-input-has-value")
		label Longitude *
		input(ng-model='files.json.geo.geometry.coordinates[0]', type='number')
		md-tooltip The longitude value in decimal degrees from -180 to 180

div(ng-if="!pageMeta.decimalDegrees")
	md-subheader.md-primary Latitude
	div(layout='', layout-padding='', layout-sm='column')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Degrees
			input(ng-model='dms.lat.d', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Minutes
			input(ng-model='dms.lat.m', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Seconds
			input(ng-model='dms.lat.s', type='number')

	md-subheader.md-primary Longitude
	div(layout='', layout-padding='', layout-sm='column')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Degrees
			input(ng-model='dms.lon.d', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Minutes
			input(ng-model='dms.lon.m', type='number')
		md-input-container(flex='', ng-class="md-input-has-value")
			label Seconds
			input(ng-model='dms.lon.s', type='number')


div(layout='', layout-padding='', layout-sm='column')
	md-input-container(flex='', ng-class="md-input-has-value")
		label Elevation
		input(ng-model='files.json.geo.geometry.coordinates[2]', type='number')
		md-tooltip The location's elevation value expressed in meters
	md-input-container(flex='', class="md-input-has-value")
		label Units
		input(value="Meters (m)" disabled)
		md-tooltip All elevation values must be expressed in meters

//- md-subheader.md-primary Properties
div(layout='', layout-padding='', layout-sm='column')
	md-input-container(flex='', ng-class="md-input-has-value")
		label(ng-if="pageMeta.noaaReady") Site Name *
		label(ng-if="!pageMeta.noaaReady") Site Name
		input(ng-model='files.json.geo.properties.siteName')
		md-tooltip
	md-input-container(flex='', ng-class="md-input-has-value")
		label(ng-if="pageMeta.noaaReady") Location *
		label(ng-if="!pageMeta.noaaReady") Location
		input(ng-model='files.json.geo.properties.location')
		md-tooltip The NASA GCMD location. Example: Continent>North America>United States of America>Baltimore
	md-input-container(flex="")
		label Country
		md-select(ng-model="files.json.geo.properties.country")
			md-option(ng-repeat="country in dropdowns.countries" ng-value="country.name") {{country.name}} ({{country.code}})
		md-tooltip
