div
    md-content
        md-tabs.step1.md-border-bottom.md-dynamic-height
            md-tab(label="Map")
                md-tooltip {{getTooltip("misc", "map")}}
                md-content.md-padding
                    ui-gmap-google-map(center='map.config.center', zoom='map.config.zoom', draggable='true', options='map.config.options', bounds='map.config.bounds')
                        ui-gmap-markers(models='map.markers', coords="'self'", events='events', options='map.config.options')
            md-tab(label="Graph")
                md-tooltip {{getTooltip("misc", "graph")}}
                md-content
                    div(ng-controller="GraphCtrl as gc")
                        .span.span35
                            div(style="margin: 30px auto; text-align: center;")
                                button.green-btn-off(type="button" ng-click="swapAxis()") Swap Axis
                                button.red-btn-off(type="button" ng-click="resetGraph(files.json)") Reset
                                // TABLE BUTTONS
                                md-subheader.md-primary(style="padding-top:30px;") Tables
                                div(ng-repeat='entry in files.json.paleoData track by $index' layout-wrap="")
                                    // paleoData[1] : Should only be one entry2. Don't need to loop
                                    div.btn-row(layout="row")
                                        div(ng-repeat='entry2 in entry.measurementTable track by $index')
                                            button.green-btn-on(type="button" ng-if="entry2.tmp.toggleGraph" ng-click="entry2.tmp.toggleGraph = false;") paleo {{$parent.$index + 1}} measurement {{$index + 1}}
                                            button.green-btn-off(type="button" ng-if="!entry2.tmp.toggleGraph" ng-click="expandEntryGraph(files.json, entry2)") paleo {{$parent.$index + 1}} measurement {{$index + 1}}

                                div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="")
                                    // chronData[1] : Should only be one entry2. Don't need to loop
                                    div.btn-row(layout="row")
                                        div(ng-repeat='entry2 in entry.measurementTable track by $index')
                                            button.green-btn-on(type="button" ng-if="entry2.tmp.toggleGraph" ng-click="entry2.tmp.toggleGraph = false;") chron {{$parent.$index + 1}} measurement {{$index + 1}}
                                            button.green-btn-off(type="button" ng-if="!entry2.tmp.toggleGraph" ng-click="expandEntryGraph(files.json, entry2)") chron {{$parent.$index + 1}} measurement {{$index + 1}}



                                // COLUMN CHECKBOXES

                                md-subheader.md-primary(style="padding-top: 20px") Columns
                                div(ng-repeat='entry in files.json.paleoData track by $index' layout-wrap="")
                                    div(ng-repeat='entry2 in entry.measurementTable track by $index')
                                        div.form-group(ng-if="entry2.tmp.toggleGraph" style="text-align:left;")
                                            label(ng-repeat="col in entry2.columns track by $index" class="checkbox-inline" layout="row")
                                                input(ng-disabled="col.tmp.toggleGraphDisabled" type="checkbox" value="field" ng-model="col.tmp.toggleGraph" ng-click="addRmColumn(entry2.columns, files.csv[entry2.filename].transposed[$index],  $index, col.tmp.toggleGraph)")
                                                | {{$index + 1}} : {{col.variableName}} ({{col.units}})

                                div(ng-repeat='entry in files.json.chronData track by $index' layout-wrap="")
                                    div(ng-repeat='entry2 in entry.measurementTable track by $index')
                                        div.form-group(ng-if="entry2.tmp.toggleGraph" style="text-align:left;")
                                            label(ng-repeat="col in entry2.columns track by $index" class="checkbox-inline" layout="row")
                                                input(ng-disabled="col.tmp.toggleGraphDisabled" type="checkbox" value="field" ng-model="col.tmp.toggleGraph" ng-click="addRmColumn(entry2.columns, files.csv[entry2.filename].transposed[$index], $index, col.tmp.toggleGraph)")
                                                | {{$index + 1}} : {{col.variableName}} ({{col.units}})


                        .span.span65(style="height:500px;")
                            //xAxisTickFormat="xAxisTickFormatFunction()"
                            //yAxisTickFormat="yAxisTickFormatFunction()"
                            nvd3-line-chart(data="graphData" id="graph1"
                            width="650" height="450"
                            xAxisLabel="{{ vars[0].variableName }} ( {{ vars[0].units }} )"
                            yAxisLabel="{{ vars[1].variableName }} ( {{ vars[1].units }} )"
                            showXAxis="true" showYAxis="true")
                                svg