div(ng-if="pageMeta.noaaReady")
    md-toolbar.md-hue-1
        h2.md-toolbar-tools
            span NOAA
div(ng-if="pageMeta.noaaReady")
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex="33")
            label Max Year *
            input(ng-model='files.json.maxYear')
        md-input-container(flex="33")
            label Min Year *
            input(ng-model='files.json.minYear')
        md-input-container(flex="33")
            label Time Unit *
            md-select(ng-model="files.json.timeUnit")
                md-option(ng-repeat="tu in dropdowns.timeUnit" ng-value="tu") {{tu}}
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='')
            label Online Resource *
            input(ng-model='files.json.onlineResource')
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='')
            label Online Resource Description *
            input(ng-model='files.json.onlineResourceDescription')
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='')
            label Original Source URL *
            input(ng-model='files.json.originalSourceUrl')
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='50', ng-class="md-input-has-value")
            label Modified Date *
            input(ng-model='files.json.modifiedDate')
        md-input-container(flex='50', ng-class="md-input-has-value")
            label Dataset DOI *
            input(ng-model='files.json.datasetDOI')
            md-tooltip What is the digital object identifier associated with the dataset? Example: 10.1000/sample123

