div(ng-if="pageMeta.noaaReady")
    md-toolbar.md-hue-1
        h2.md-toolbar-tools
            span NOAA
            md-tooltip Please refer to NOAA for term definitions
div(ng-if="pageMeta.noaaReady")
    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex="")
            label Earliest Year *
            input(ng-model='files.json.earliestYear')
            md-tooltip {{getTooltip("noaa", "earliestYear")}}

        md-input-container(flex="")
            label Most Recent Year *
            input(ng-model='files.json.mostRecentYear')
            md-tooltip {{getTooltip("noaa", "mostRecentYear")}}

    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex="")
            label Time Unit *
            input.mdautocomplete(type="text" ng-model="files.json.timeUnit"
            uib-typeahead="entry as entry for entry in dropdowns.timeUnit | filter:$viewValue" typeahead-min-length="0")
            md-tooltip {{getTooltip("noaa", "timeUnit")}}

    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='50', ng-class="md-input-has-value")
            label Modified Date *
            input(ng-model='files.json.modifiedDate')
            md-tooltip {{getTooltip("noaa", "modifiedDate")}}

        md-input-container(flex='50', ng-class="md-input-has-value")
            label Dataset DOI *
            input(ng-model='files.json.datasetDOI')
            md-tooltip {{getTooltip("noaa", "datasetDOI")}}

    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='50', ng-class="md-input-has-value")
            label Data Type *
            input.mdautocomplete(type="text" ng-model="files.json.NOAAdataType"
            uib-typeahead="entry for entry in dropdowns.NOAAdataType | filter:$viewValue" typeahead-min-length="0")
            md-tooltip {{getTooltip("noaa", "NOAAdataType")}}
        md-input-container(flex='50', ng-class="md-input-has-value")
            label Study Name *
            input(ng-model='files.json.NOAAstudyName')
            md-tooltip {{getTooltip("noaa", "NOAAstudyName")}}

    div(layout='', layout-padding='', layout-sm='column')
        md-input-container(flex='')
            label Original Source URL *
            input(ng-model='files.json.originalSourceUrl')
            md-tooltip {{getTooltip("noaa", "originalSourceUrl")}}
        md-input-container(flex='')
            label Description *
            input(ng-model='files.json.originalSourceUrlDescription')
            md-tooltip {{getTooltip("noaa", "originalSourceUrlDescription")}}

    div(layout='', layout-padding='', layout-sm='column' ng-repeat="entry in files.json.onlineResource track by $index")
        md-input-container(flex='')
            label Online Resource *
            input(ng-model='entry.onlineResource')
            md-tooltip {{getTooltip("noaa", "onlineResource")}}

        md-input-container(flex='')
            label Description *
            input(ng-model='entry.description')
            md-tooltip {{getTooltip("noaa", "onlineResourceDescription")}}
        div(layout='', layout-padding='', layout-sm='column' style="float: right;")
            button.red-btn-sm-off(ng-click='removeBlock(files.json.onlineResource, $index)' style="margin: 1.5em;" type="button")  -

    div(layout='', layout-padding='', layout-sm='column' style="float: right;")
        button.green-btn-off(ng-click='addBlock(files.json.onlineResource, "onlineResource", null); ' style="margin: 1.5em;" type="button")  + Online Resource
