// PALEO DATA
md-toolbar.md-hue-1
	h2.md-toolbar-tools
		span PaleoData *

include ./paleo_buttons.jade
include ./paleo_meas.jade
include ./paleo_model.jade


div(layout='', layout-padding='', layout-sm='column' style="float: right;")
	md-input-container
		md-label Table Type
		md-select(ng-model='dropdowns.current.table' ng-model-options="{trackBy: '$value.id'}" aria-label="filler")
			md-option(ng-value="table" ng-repeat="table in dropdowns.tables") {{ table.name }}
		md-tooltip DataTable containing PaleoData Variables

	button.green-btn-off.step21(ng-click='addBlock(files.json.paleoData[0], dropdowns.current.table.name, "paleo")' style="margin: 1.5em;" type="button") + Add Table
	button.red-btn-off.step22(ng-if="files.json.paleoData[0]" ng-click="removePaleoChron('paleo')" style="margin: 1.5em; padding: 2px 2px 2px 2px;" type="button") Delete PaleoData

	// END MEASUREMENT TABLE


// END PALEO DATA
