// PUBLICATION
md-toolbar.md-hue-1
  h2.md-toolbar-tools
    span Publication
    md-tooltip {{getTooltip("pub", "publication")}}

div.btn-row( layout="row")
  div(ng-repeat="entry in files.json.pub track by $index")
    button.tab-btn-on(type="button" ng-if="entry.tmp.toggle" ng-click="entry.tmp.toggle = false;") Publication {{$index+1}}
    button.tab-btn-off(type="button" ng-if="!entry.tmp.toggle" ng-click="expandEntry(files.json.pub, entry)") Publication {{$index+1}}



// PUBLICATION DATA
div(ng-repeat="entry in files.json.pub track by $index" layout-wrap="")

  md-card(ng-show="entry.tmp.toggle")
    md-subheader.md-primary Publication {{$index+1}}
    pre(ng-show="entry.tmp.doiWarn" style="background-color:#FDEDB9; border: none;")
      p(style="white-space: pre-line; word-break:break-word;") Data retrieved from the DOI API may be incomplete or compiled differently depending on the journal source. We encourage you to reference the DOI manually and verify the information if you encounter issues (ex. missing authors, incorrect dates, etc.).
    div.step14(layout='', layout-padding='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label DOI
        input(ng-model='entry.doi')
        md-tooltip(data-html="true") {{getTooltip("pub", "doi")}}
      div
        button.green-btn-off(type="button" ng-click="fetchPublication(entry)" style="margin:1.5em; float:right;height:auto;" ng-disabled="!entry.doi") Autocomplete using DOI
        md-tooltip {{getTooltip("misc", "fetchDoi")}}
    br

    div(layout='', layout-padding='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Title *
        textarea(ng-model='entry.title', columns='1', maxlength="500")
        md-tooltip {{getTooltip("pub", "title")}}

    div(layout='', layout-padding='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Journal *
        textarea(ng-model='entry.journal', columns='1')
        md-tooltip {{getTooltip("pub", "journal")}}

      md-input-container(flex='', ng-class="md-input-has-value")
        label Report
        textarea(ng-model='entry.report', columns='1')
        md-tooltip {{getTooltip("pub", "report")}}

    div(layout='', layout-padding='', layout-wrap='', layout-sm='column')
      md-input-container(flex="33")
        label Year *
        input(ng-model="entry.year")
        //md-select(ng-model="entry.year")
        //  md-option(ng-repeat="yr in dropdowns.years" ng-value="yr" ng-model="entry.year") {{yr}}
        md-tooltip {{getTooltip("pub", "year")}}

      md-input-container(flex='', ng-class="md-input-has-value")
        label Pages
        input(ng-model="entry.pages")
        md-tooltip {{getTooltip("pub", "pages")}}

      md-input-container(flex='', ng-class="md-input-has-value")
        label Volume
        input(ng-model='entry.volume')
        md-tooltip {{getTooltip("pub", "volume")}}

    div(layout='', layout-padding='', layout-wrap='', layout-sm='column')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Edition
        input(ng-model='entry.edition')
        md-tooltip {{getTooltip("pub", "edition")}}

      md-input-container(flex='', ng-class="md-input-has-value")
        label Issue
        input(ng-model='entry.issue')
        md-tooltip {{getTooltip("pub", "issue")}}

      md-input-container(flex='', ng-class="md-input-has-value")
        label Publication Type
        input(ng-model='entry.type')
        md-tooltip {{getTooltip("pub", "type")}}

    div(layout='', layout-padding='', layout-sm='column' ng-if="pageMeta.noaaReady")
      md-input-container(flex='', ng-class="md-input-has-value")
        label Abstract *
        textarea(ng-model='entry.abstract', columns='1')
        md-tooltip {{getTooltip("pub", "abstract")}}

    div(layout='', layout-padding='', layout-sm='column' ng-if="pageMeta.noaaReady")
      md-input-container(flex='', ng-class="md-input-has-value")
        label Citation *
        textarea(ng-model='entry.citation', columns='1', maxlength="500")
        md-tooltip {{getTooltip("pub", "citation")}}

    div(layout='', layout-padding='', layout-sm='column', ng-repeat='entry2 in entry.author track by $index')
      md-input-container(flex='', ng-class="md-input-has-value")
        label Author
        input(ng-model='entry2.name')
        md-tooltip {{getTooltip("pub", "author")}}

      div(layout='', layout-padding='', layout-sm='column' style="float: right;")
        button.red-btn-sm-off(ng-click='removeBlock(entry.author, $index)' style="margin: 1.5em;" type="button")  x

    button.green-btn-off(ng-click='addBlock(entry.author, "author", null)' style="margin: 1.5em;" type="button")  + Author


    .md-toolbar-tools(style="background-color:white;")
      span(flex)
      button.red-btn-off(ng-click='removeBlock(files.json.pub, $index)' style="margin: 1.5em;" type="button") Delete
      

  // DIVIDER LINE
  //- div(style="text-align:center;box-sizing:border-box;")      
  //-   md-divider(style="background-color:#efefef; width:100%;align:center;vertical-align:middle; display: inline-block;")

div(layout='', layout-padding='', layout-sm='column' style="float: right;")
  button.green-btn-off(ng-click='addBlock(files.json.pub, "pub", null)' style="margin: 1.5em;" type="button") Add
  
