md-toolbar.md-hue-1
  h2.md-toolbar-tools
    span Root

div(layout='', layout-padding='', layout-sm='column')
  md-input-container(flex="")
    label LiPD Version *
    input(ng-model='files.json.lipdVersion' disabled)
    md-tooltip {{getTooltip("root", "lipdVersion")}}
  md-input-container(flex='', ng-class="md-input-has-value")
    label Dataset Name *
    input(ng-model='files.json.dataSetName' ng-change="getSet(files.json.dataSetName)")
    md-tooltip {{getTooltip("root", "dataSetName")}}
div(layout='', layout-padding='', layout-sm='column')
  md-input-container(flex="")
    label Created By *
    md-select(ng-model="files.json.createdBy")
      md-option(ng-repeat="method in dropdowns.createdBy" ng-value="method") {{method}}
    md-tooltip {{getTooltip("root", "createdBy")}}
  md-input-container(flex="")
    label Archive Type *
    // Use auto-complete field when there are >20 items in the list
    input.mdautocomplete(ng-if="ontology['archiveType'].length > 20" type="text" ng-model="files.json.archiveType"
                          uib-typeahead="entry for entry in ontology['archiveType'] | filter:$viewValue" typeahead-min-length="0")
    // Use dropdown list when there are <20 items in the list
    md-select(ng-if="ontology['archiveType'].length < 20" ng-model="files.json.archiveType")
      md-option(ng-repeat="archive in ontology['archiveType']" ng-value="archive") {{archive}}
    md-tooltip {{getTooltip("root", "archiveType")}}
div(layout='', layout-padding='', layout-sm='column')
  md-input-container(flex='33', ng-class="md-input-has-value")
    label(ng-if="pageMeta.noaaReady") Collection Name *
    label(ng-if="!pageMeta.noaaReady") Collection Name
    input(ng-model='files.json.collectionName' aria-label="Collection Name")
    md-tooltip {{getTooltip("root", "collectionName")}}
  md-input-container(flex='66', ng-class="md-input-has-value")
    label(ng-if="pageMeta.noaaReady") Investigators *
    label(ng-if="!pageMeta.noaaReady") Investigators
    input(ng-model='files.json.investigators' aria-label="Investigators")
    md-tooltip {{getTooltip("root", "investigators")}}
div(layout='', layout-padding='', layout-sm='column')
  md-input-container(flex='', ng-class="md-input-has-value")
    label Notes
    textarea(ng-model='files.json.notes', columns='1', md-maxlength='500')
    md-tooltip {{getTooltip("root", "notes")}}

