// Column Data

md-subheader.md-primary Columns


div.btn-row(layout="row")
    div(ng-repeat='column in entry2.columns track by $index')
        button.blue-btn-on(type="button" ng-if="column.tmp.toggle" ng-click="column.tmp.toggle = false") Column {{$index}}:<br />{{column.variableName}}
        button.blue-btn-off(type="button" ng-if="!column.tmp.toggle" ng-click="expandEntry(entry2.columns, column)") Column {{$index}}:<br />{{column.variableName}}

div(layout="column" ng-repeat='entry3 in entry2.columns track by $index' layout-wrap="")
    md-card(ng-if="entry3.tmp.toggle")
        md-subheader.md-primary Column {{$index}}: {{entry3.variableName}}
        div(layout='row', layout-padding='', layout-sm='column')
            div(flex)
                md-subheader.md-primary Standard fields

                div(layout='', layout-padding='', layout-sm='column')
                    md-input-container(flex='', class="md-input-has-value")
                        label Variable Name *
                        input(ng-model="entry3.variableName" ng-change="sc.updateHeaders(entry2)")
                        md-tooltip {{getTooltip("paleoData", "variableName")}}

                    md-input-container(flex='', class="md-input-has-value")
                        label Units *
                        // Use autocomplete - all cases
                        input.mdautocomplete(ng-if="ontology.units" type="text" ng-model="entry3.units"
                                uib-typeahead="entry for entry in ontology.units | filter:$viewValue | limitTo:8")

                        //input(ng-model="entry3.units")
                        md-tooltip {{getTooltip("paleoData", "units")}}

                div(layout='', layout-padding='', layout-sm='column')
                    md-input-container(flex='', class="md-input-has-value")
                        label(ng-if="pageMeta.noaaReady") Description *
                        label(ng-if="!pageMeta.noaaReady") Description
                        textarea(ng-model='entry3.description', columns='1', md-maxlength='500')
                        md-tooltip {{getTooltip("paleoData", "description")}}

                md-subheader.md-primary Add Fields

                div(layout='', layout-padding='', layout-sm='column')
                    md-input-container(flex="")
                        label Enter Field Name
                        // Use autocomplete for lists that are >20 items
                        input.mdautocomplete(type="text" ng-model="entry3.tmp.custom"
                            uib-typeahead="entry for entry in dropdowns.columnFields | filter:$viewValue" typeahead-min-length="0")
                        // Use dropdown for lists that are <20 items ** Don't want to use this because it disallows custom fields
                        //md-select(ng-if="dropdowns.columnFields.length < 20" ng-model="entry3.tmp.custom")
                        //    md-option(ng-repeat="entry in dropdowns.columnFields" ng-value="entry") {{entry}}
                        md-tooltip {{getTooltip("misc", "addFields")}}
                    button.green-btn-off(flex='' type="button" ng-click='addColumnField(entry3)' style="margin: 1.5em;") Add

                div(layout='', layout-padding='', layout-sm='column')
                    button.yellow-btn-off(type="button" ng-if="!pageMeta.editColumn" ng-click="pageMeta.editColumn = !pageMeta.editColumn") Edit
                    button.yellow-btn-on(type="button" ng-if="pageMeta.editColumn" ng-click="pageMeta.editColumn = !pageMeta.editColumn") Edit
                    md-tooltip {{getTooltip("misc", "editMode")}}

            div(flex)
                md-subheader.md-primary Additional fields
                div.btn-row(layout="row" style="overflow: scroll;")
                    div(ng-repeat="(k,v) in entry3" ng-if="isObject(k)" layout='', layout-padding='', layout-sm='column')
                        button.blue-btn-off(type="button" ng-click="showModalBlock(entry3, false, k, null)") {{k}}

                    div(ng-repeat="(k, entry4) in entry3" ng-if="isArr(k)" layout='', layout-padding='', layout-sm='column')
                        button.blue-btn-off(ng-repeat="i in entry4 track by $index" type="button" ng-click="showModalBlock(entry3, false, k, $index)") {{k}} {{$index+1}}

                div(style="overflow: scroll; height: 550px;")
                    div(ng-repeat="(k,v) in entry3" ng-if="isProperty(k)" layout='', layout-padding='', layout-sm='column')
                        md-input-container(ng-if="!isAutocomplete(k)" flex='', class="md-input-has-value")
                            label {{k}}
                            input(ng-model="entry3[k]" ng-disabled="k==='TSid'")
                            md-tooltip {{getTooltip("paleoData", k)}}

                        md-input-container(flex="" ng-if="isAutocomplete(k)")
                            label {{k}}
                            // Use autocomplete for lists that are >20 items
                            input.mdautocomplete(ng-if="ontology[k].length > 20" type="text" ng-model="entry3[k]" uib-typeahead="entry for entry in ontology[k] | filter:$viewValue | limitTo:8")
                            // Use dropdown for lists that are <20 items
                            md-select(ng-if="ontology[k].length < 20" ng-model="entry3[k]")
                                md-option(ng-repeat="entry in ontology[k]" ng-value="entry") {{entry}}
                            md-tooltip {{getTooltip("paleoData", k)}}

                        div(flex='10' layout='', layout-padding='', layout-sm='column')
                            button.red-btn-sm-on(type="button" ng-show="pageMeta.editColumn" ng-click="rmColumnField(entry3, k)") X

        .md-toolbar-tools(style="background-color:white;")
            span(flex)
            button.red-btn-off(type="button" ng-click="removeColumn(entry2, $index)" style="margin: 1.5em; padding: 2px 2px 2px 2px;") Delete Column

