div(layout='', layout-padding='', layout-sm='column')
    md-input-container(flex='', ng-class="md-input-has-value")
        label Table Name *
        input(ng-model='entry2.tableName' disabled)
    md-input-container(flex='', ng-class="md-input-has-value")
        label Missing Value *
        input(ng-model='entry2.missingValue')
div(layout='', layout-padding='', layout-sm='column')
    md-input-container(flex='', ng-class="md-input-has-value")
        label Filename *
        input(ng-model='entry2.filename' disabled)