<!-- form-interests.html -->

<!-- <label>File Content</label> -->

<div class="form-group">
    <h4> Does it look correct? </h4>
    <h5> User Data </h5>
    <pre>{{ userData }}</pre>
    <br>
    <h5> Geo Data </h5>
    <pre>{{ geoData }}</pre>
    <br>
    <h5> Form Data </h5>
    <pre>{{ formData }}</pre>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.edit" class="btn btn-block btn-info">
        Edit <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a ui-sref="form.location" class="btn btn-block btn-info">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
