.modal-content
    .modal-header
        h3.modal-title {{options.title}}
    .modal-body
        div(ng-if="options.initialUpload")
            p.darkertext The metadata.jsonld data in this LiPD file is not valid JSON-LD data and cannot be loaded.
            p.darkertext 1. Copy the JSON-LD below
            p.darkertext 2. Validate the JSON-LD using
                a(onclick="window.open('http://jsonlint.com', '_blank', 'location=yes,height=800,width=1100,scrollbars=yes,status=yes');")  JSONLint.com
            p.darkertext 3. Paste validated JSON-LD below, and Save

        div(ng-if="!options.initialUpload")
            p.darkertext Edit the raw JSON-LD data directly. If your changes result in invalid JSON data, then please use JSONLint.com to fix errors.
            p.darkertext
                a(onclick="window.open('http://jsonlint.com', '_blank', 'location=yes,height=800,width=1100,scrollbars=yes,status=yes');")  JSONLint.com

        pre.on(ng-if="reverted" style="background-color:#DFF1C1; border: none;") JSON-LD data reverted to original uploaded data.
        pre.on(ng-if="error" style="background-color:#FEBABB; border: none;") Errors exist in JSON structure. Please fix all errors to continue.

        textarea(ng-model="jsondata" style="border:0.1em solid #ccc;border-radius:0.5em;height:30em;width:100%;")
    .modal-footer
        button(ng-if="!options.initialUpload" class="btn btn-primary" data-dismiss="modal" ng-click="revert()") Revert to Original
        button(class="btn btn-success" data-dismiss="modal" ng-click="save()") Save
        button(class="btn btn-danger" data-dismiss="modal" ng-click="quit()") Cancel