<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h5>LiPD Requirements</h5><br>
<p>Root:</p><ul>
    <li>dataSetName</li>
    <li>archiveType</li>
    <li>createdBy</li>
    </ul><br><p>Geo:</p><ul>
    <li>coordinates</li>
    </ul><br><p>paleoData:</p><ul>
    <li>measurementTable</li>
    </ul><br><p>Columns:</p><ul>
    <li>variableName</li>
    <li>units ("unitless" if units not applicable)</li>
    <li>values</li>
    </ul>

<h5>Linked Earth Wiki Requirements</h5><br>
<p>In addition to the normal LiPD Requirements: </p>
</ul><br><p>Columns:</p><ul>
    <li>proxyObservationType</li>
    <li>variableType</li>
    <li>takenAtDepth</li>
    <li>inferredVariableType</li>
    </ul>


<h5>NOAA Requirements</h5><br>
<p>In addition to the normal LiPD Requirements: </p>
</ul><br><p>NOAA specific:</p><ul>
    <li>maxYear</li>
    <li>minYear</li>
    <li>timeUnit</li>
    <li>onlineResource</li>
    <li>onlineResourceDescription</li>
    <li>modifiedDate</li><br>
    </ul><p>Root Level:</p><ul>
    <li>investigators</li>
    </ul><br><p>Geo:</p><ul>
    <li>siteName</li>
    <li>location</li>
    <a href="https://gcmdservices.gsfc.nasa.gov/static/kms/locations/">GCMD Keywords 1</a>
    <a href="https://wiki.earthdata.nasa.gov/display/CMR/GCMD+Keyword+Access">GCMD Keywords 2</a>
    </ul><br><p>Columns:</p></ul>
    <li>description</li>
    <li>dataFormat</li>
    <li>dataType</li>


    <p>Ideally, all LiPD files are 100% complete with all required information provided. Use this progress bar
        to track how close you are to having a complete LiPD dataset. Please note: requirements may change as you
        add data, remove data, and switch modes.</p>

</body>
</html>