extends base

block content
	section#content
		div
			.map
				iframe(src="https://www.google.com/maps/embed/v1/place?q=Northern%20Arizona%20University%2C%20South%20San%20Francisco%20Street%2C%20Flagstaff%2C%20AZ%2C%20United%20States&key=AIzaSyB8nllB0zwraQo5qJMGdtcxulsTPJOnd8U")
