extends layout

//- block css will insert css scripts listed in head.jade that are needed on every page.
block css
	//- files below are page specific
	link(rel='stylesheet' href='css/validate.css')
	link(rel="stylesheet" href="css/json-tree.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css")
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.1.0/toaster.css")
	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.4/angular-busy.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css")

block body
	body.step0(ng-app='validateApp' ng-cloak)
		#wrapper

			include ./include/navbar.jade
			md-toolbar
				.md-toolbar-tools
					.md-title Create LiPD

			.col-sm-12

				#form-container(ng-controller="ValidateCtrl as vc")
					toaster-container(toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }")

					form#upload-form(ng-submit='')

						//- Jumbotron Tabs
						include ./sections/jumbotron.jade

						br

						div(cg-busy="pageMeta.busyPromise")

							.alert.alert-info(role='warning')
								button.close(type='button', data-dismiss='alert') ×
								strong Coming soon!
								p - Ensemble and distribution table creating and editing is under development. Ensemble data is visible but has limited functionality.
							br

							include ./pieces/version.jade
							div
								pre(style="background-color:#DFF1C1; border: none;")
									p Are you new here? Take the tour to learn more about how to use this page.
									br
									button.valid-btn(type="button" ng-click="startTour()") Take the tour!
									a.btn.btn-default.valid-btn(href="https://github.com/chrismheiser/geoChronR/issues" type="button") Help Us Improve
										md-tooltip Use the Github repository to see upcoming changes, fixes, report bugs, and make suggestions

							div(class="span span50" style="padding-right:3em;")
								md-toolbar.md-hue-1
									h2.md-toolbar-tools
										span Load & Validates
								div
									ol
										include ./pieces/action_btns.jade
										include ./pieces/noaa_wiki_btns.jade
										include ./pieces/feedback.jade									
											
							div(class="span span50")
								div.step11
									include ./sections/root.jade
								div.step12
									include ./sections/noaa.jade
								div.step13
									include ./sections/funding.jade
								div.step14
									include ./sections/publication.jade
								div.step15
									include ./sections/geo.jade

							include ./sections/paleo.jade
							.step23
								include ./sections/chron.jade

//- block js will insert js scripts listed in footer.jade that are needed on every page.
block js
	//- files below are page specific
	script(src='apps/validateApp.js')
	script(src='js/ngValidate.js')
	script(src='js/ngContValidate.js')
	script(src='js/ngContModFile.js')
	script(src='js/ngContModInt.js')
	script(src='js/ngContModAsk.js')
	script(src='js/ngContModAlert.js')
	script(src='js/ngGraphs.js')
	script(src="lib/zip/zip.js")
	script(src='lib/json-tree.js')
	script(src="lib/zip/zip-ext.js")
	script(src="lib/papaparse.min.js")
	script(src="lib/FileSaver.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js")
	//script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js")
	script(src="lib/angularjs-nvd3-directives.min.js")
	script(src="modules/ng_map.js")
	script(src="modules/ng_create.js")
	script(src="modules/ng_misc.js")
	script(src="modules/ng_versions.js")
	script(src="modules/ng_validator.js")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.1.0/toaster.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.4/angular-busy.min.js")
	//script(src='https://www.google.com/recaptcha/api.js')
	//script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/3.2.1/angular-recaptcha.min.js")
	//script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.0/angular-google-maps.min.js')
	//script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload-shim.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js")
	//script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js")
	script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA7HRzSi5HhyKTX9Xw7CZ-9XScwq04TZyc')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

	//- script(src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js")
