extends layout

block css
	link(rel='stylesheet' href='css/index.css')

block body
	// add #bg-img to body for photo background
	body(ng-app='indexApp')
		#wrapper(ng-controller='toggle')
			include ./include/navbar.jade
			section#content
				.container#intro
					h1.md-display-3.text-center Linked Paleo Data
					p.md-subhead Linked Paleo Data (LiPD) is a community data framework being designed to simplify the sharing, reuse and analysis of paleoclimate data. By combining a flexible, hierarchical data container with linked data concepts, LiPD lets paleoscientists spend less time wrangling data, and more time doing science.
					p.md-subhead We’re currently working hard to develop more and better utilities for interacting with LiPD, both for the creation and validation of LiPD datasets, and for tools to interact with LiPD data in Python, R, and Matlab. We’re always looking for more people interested in  
						a(href='#contact') contributing to the effort.
					p.md-subhead.
						A technical description of the LiPD framework is available
						#[a(href='http://www.clim-past-discuss.net/11/4309/2015/cpd-11-4309-2015-discussion.html') here.]
						The development of LiPD is funded by the National Science Foundation   
						#[img(ng-src='img/nsf.jpg' style='width:50px')]
			div#buttons(layout='row' ng-cloak)
				div(flex='20')
					.md-button.schematic-btn.left(ng-click="schematic = !schematic" ng-class="{ active: schematic }") Schematic
				.text-center(flex='60')
					img(ng-show="schematic" ng-src="img/schematic.jpg" style='height:280px;float:left;')
				div(flex='20')
					a.right.smoothScroll(href="#about")
						i.fa.fa-angle-double-down.fa-5x
	.container.cf#about
		.animation-element.bounce-up.cf
			h1.subject.md-display-3(layout layout-align="center center") About Us
			.subject.first
				.category-color
				.icon
					i.fa.fa-users
				.header.cf
				h3.title Team
				.content(layout-sm='column' layout='row' layout-align='space-around center')
					.flex.layout-margin
						md-card
							img.md-card-image(ng-src="img/heiser.jpg")
							md-card-content
								div(layout='row' layout-align='space-around center')
									a(href="https://instagram.com/chrisheiser")
										i.fa.fa-instagram
									a(href="http://chrismheiser.github.io")
										i.fa.fa-coffee
									a(href="https://github.com/chrismheiser")
										i.fa.fa-code
									a(href="https://www.linkedin.com/in/chrismheiser")
										i.fa.fa-linkedin
								h2.md-title Christopher Heiser
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					.flex.layout-margin
						md-card
							img.md-card-image(ng-src="img/mckay.jpg")
							md-card-content
								div(layout='row' layout-align='space-around center')
									a(href="#")
										i.fa.fa-instagram
									a(href="#")
										i.fa.fa-code
									a(href="#")
										i.fa.fa-linkedin
								h2.md-title Nicholas McKay
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

					.flex.layout-margin
						md-card
							img.md-card-image(ng-src="img/mcdowell.jpg")
							md-card-content
								div(layout='row' layout-align='space-around center')
									a(href="#")
										i.fa.fa-instagram
									a(href="#")
										i.fa.fa-code
									a(href="#")
										i.fa.fa-linkedin
								h2.md-title Austin McDowell
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

			.subject.second
				.category-color
				.icon
					i.fa.fa-globe
				.header.cf
				h3.title Location
				.content
					div(ng-controller='MapCtrl' ng-cloak)
						ui-gmap-google-map(center="map.center" zoom="map.zoom" options="options")
	

	
	.container.cf#contact
		.animation-element.bounce-up.cf
			h1.subject.md-display-3(layout layout-align="center center") Contact
			.subject.third
				.category-color
				.icon
					i.fa.fa-envelope
				.header.cf
				h3.title Questions, comments, concerns...
				.content(ng-controller='ContactCtrl' layout-sm='row' layout='row' layout-align="space-around center" ng-cloak)
					div(flex='30')
						h4 We'd love to hear from you!
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
					div(flex='50')
						md-input-container
							label Name
							input(type="text" ng-model='name')
						md-input-container
							label E-Mail
							input(type="email" ng-model='email')
						md-input-container
							label Message
							textarea(type="text" ng-model='message')
						md-button.send Send

block js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.0/angular-google-maps.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
	script(src='js/indexApp.js')
	script(src='js/ngMap.js')
	script(src='js/ngContact.js')
	script(src='js/animate.js')
	script(src='js/smooth.js')
