md-dialog(aria-label='Add more fields')
  form(ng-cloak='')
    md-toolbar
      .md-toolbar-tools
        h2 Add fields
        span(flex='')
    md-dialog-content
      .md-dialog-content
        div(ng-repeat="(k,v) in fields")
          h2 {{k}}
          md-checkbox {{k}}
        md-grid-list(md-cols-sm="2" md-cols-md="4" md-cols-lg="8" md-cols-gt-lg="12")
          md-grid-tile(ng-repeat="(k,v) in fields")
            md-checkbox {{ k }}
          
