md-dialog(aria-label='{{ mdDialogData.filenameShort }}')
  form(ng-cloak='')
    md-toolbar
      .md-toolbar-tools
        h2 {{mdDialogData.type}} file
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()')
          md-icon(aria-label='Close dialog')
    md-dialog-content()
      .md-dialog-content
        h4 TEXT MODAL
        //- 
        //- table(ng-table="tableParams" show-filter="true" class="table table-bordered")
        //-     tr(ng-repeat="line in mdDialogData.data track by $index")
        //-         td {{ line }}

        // simpler bootstrap modals 
        // http://www.bootply.com/SLezsLancK

    //- md-dialog-actions(layout='row')
    //-   md-button(href='http://en.wikipedia.org/wiki/Mango', target='_blank', md-autofocus='')
    //-     | More on Wikipedia
    //-   span(flex='')
      //- md-button(ng-click="answer('not useful')")
      //-   | Not Useful
      //- md-button(ng-click="answer('useful')")
      //-   | Useful
