.modal-content
    .modal-header
        h3.modal-title Create Interpretation
    .modal-body
        pre {{ selected }}
        fieldset
            .md-padding(style='min-height:270px')
                div(layout='row', layout-wrap='')
                    div(flex='100', flex-gt-sm='50', layout='column')
                        div(layout='row', layout-wrap='')
                            div(flex='50' ng-repeat='key in required')
                                md-checkbox(ng-checked='true', ng-click='toggle(key)' disabled) {{key}}
                        h4  STANDARD
                        div(layout='row', layout-wrap='')
                            div(flex='50' ng-repeat='key in standard')
                                md-checkbox(ng-checked='exists(key)', ng-click='toggle(key)') {{key}}

                        h4  OPTIONAL
                        div(layout='row', layout-wrap='')
                            div(flex='50' ng-repeat='key in optional')
                                md-checkbox(ng-checked='exists(key)', ng-click='toggle(key)') {{key}}

    .modal-footer
        button(class="btn btn-success" data-dismiss="modal" ng-click="close()") Create
        button(class="btn btn-danger" data-dismiss="modal" ng-click="dismiss()") Close