extends layout
		
block body
	body(ng-app='schemaApp')
		div#wrapper
			include ./include/navbar.jade
			div(ng-controller='SortCtrl', class='container')
				// search box filter
				form
					div.form-group
						div.input-group
							div.input-group-addon
								i.fa.fa-search
							input(type='text', class='form-control', placeholder='Search schema...', ng-model='searchSchema')
				
				// table of data
				table.table.table-bordered.table-striped.table-hover
					thead
						tr
							td
								a(href='#', ng-click = "sortType = 'name'; sortReverse = !sortReverse") Name
									span(ng-show="sortType == 'name' && !sortReverse", class='fa fa-caret-down')
									span(ng-show="sortType == 'name' && sortReverse", class='fa fa-caret-up')
							td
								a(href='#', ng-click = "sortType = 'link'; sortReverse = !sortReverse") Reference
									span(ng-show="sortType == 'link' && !sortReverse", class='fa fa-caret-down')
									span(ng-show="sortType == 'link' && sortReverse", class='fa fa-caret-up')
					tbody
						// loop through each item in context file and fill the table
						tr(ng-repeat-start='item in schema | orderBy:sortType:sortReverse | filter:searchSchema')								
							td
								a(ng-href='#' slide-toggle='#{{ item.name }}') {{ item.name }}
							td 
								a(ng-href='{{ item.link }}') {{ item.link }}
						// row that activates to show definition
						tr(ng-repeat-end)
							td.nohover(colspan='3')
								div(class= 'slideable' id= '{{ item.name }}')
									h3{{ item.name }}
									p(ng-if='def[item.name] != ""') {{ def[item.name] }}
									p(ng-if='def[item.name] == ""') Please use the reference link for more information!
