extends base

block content
	section#content
		.container

			// filler columns to center the main table
			.col-lg-1
			.col-lg-1

			// schema table 
			.col-lg-8
				table#table-bordered
					.thead
						tr
							th Property
							th Expected Type
							th Description
					.tbody
						tr
							th Elevation
							td Meters (m)
							td Elevation is often measured in meters or feet.

			// more filler columns
			.col-lg-1
			.col-lg-1

