extends layout
block css
	link(rel='stylesheet' href='css/schema.css')
	link(rel='stylesheet' href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css")

block body
	body(ng-app='schemaApp' layout='column')
		#wrapper
			include ./include/navbar.jade		
			md-toolbar
				.md-toolbar-tools
					.md-title Schema

			md-content(layout="column" layout-padding flex)
				md-card(ng-controller='TableCtrl' ng-cloak)
					md-data-table-container
						table.md-primary(md-data-table md-progress="deferred")
							thead(md-order="query.order" md-trigger="onorderchange")
								tr
									th(order-by="name" name="Name")
									th(order-by="reference" name="Reference")
									th(name="Definition")
							tbody
								tr(ng-repeat="i in content | orderBy: query.order")
									td
										h5 {{i.name}}
									td 
										a(href='{{i.reference}}'){{i.reference}}
									td
										p {{def[i.name]}}

block js
	script(src='apps/schemaApp.js')
	script(src='js/ngTable.js')
	script(src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js")
