extends layout

// block css will insert css scripts listed in head.jade that are needed on every page.
block css
	// files below are page specific
	link(rel="stylesheet" href="css/angular-busy.css")
	link(rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css")
	link(rel='stylesheet' href='css/validate.css')
	link(rel="stylesheet" href="css/json-tree.css")


block body
	body(ng-app='validateApp' ng-cloak)
		#wrapper
			include ./include/navbar.jade
			md-toolbar
				.md-toolbar-tools
					.md-title Upload
				
			.col-sm-12
				#form-container(ng-controller='ValidateCtrl as vm')
					form#upload-form(ng-submit='')
						// GOOGLE MAP
						// ng-if="userData.geo.geometry.coordinates"
						div
							ui-gmap-google-map(center='map.center', zoom='map.zoom', draggable='true', options='options', bounds='map.bounds')
								ui-gmap-markers(models='geoMarkers', coords="'self'", events='events', options='options')
						br
						div(cg-busy="myPromise")
							div(class="span span50" style="padding-right:3em;")
								md-toolbar.md-hue-1
									h2.md-toolbar-tools
										span Load
								div
									// UPLOAD METHOD 1 : use zip.js to unzip the LiPD file into RAM and jsonld file into SessionStorage
									ol
										// Method input: this will always be "RAM", so keep the code here but hide the element on the page
										//- li(style="display:hide; visibility:hidden;list-style-type: none;")
										//- 	label(style="display:hide; visibility:hidden;")
										//- 		span#form-label Temp storage
										//- 		select#creation-method-input
										//- 			option(value="Blob") RAM
										// File chooser: Select a lipd file 
										li#buttons(style="list-style-type: none;")
											//- span#form-label Load LiPD
											// Bind this to a 'change' event so that we know when jsonld data is available to start processing.
											input#file-input(ng-model="file.input" name='file' type="file" accept=".lpd" style="max-width:200px; width:175px; padding:4px; display:inline;" ng-click="resetPage()")

											// download button
											//- md-button(ng-click="downloadZip()" ng-model='file' name='file' ngf-max-size="50MB") Download
															
											button.valid-btn#generate-tsid(ng-model="feedback.missingTsidCt" ng-disabled="feedback.missingTsidCt == 0" ng-click="populateTSids1()") Populate TSid's
											//- button.valid-btn#generate-tsid(ng-model="feedback.missingTsidCt" ng-if="feedback.missingTsidCt > 0" ng-click="populateTSids1()") Populate TSid's
											br 
											// button to push validated lipd file to database
											button.valid-btn(ng-model="file.push" ng-disabled="!pageMeta.valid") Upload to Wiki
																
											// download button
											//- button.valid-btn#download-btn(ng-model="file.down" ng-disabled="!pageMeta.valid" ng-show="!pageMeta.dlFallback" ng-click="startCaptcha()") Download
											button.valid-btn#download-btn(ng-model="file.down" ng-show="!pageMeta.dlFallback" ng-disabled="!pageMeta.valid" ng-click="startCaptcha()") Download
											
											// If "download" attribute is not supported by browser, this is a fallback link to Right-click and save. 
											br
											a#dl-unsupported(ng-show="pageMeta.dlFallback") {{files.lipdFilename}}
											br
											a(ng-show="pageMeta.dlFallback") {{pageMeta.dlFallbackMsg}}
											
											// attempt at captcha
											div(vc-recaptcha key="'6LchMhIUAAAAAGjGCfNGxPkOJPl3ilJ2sQrapbbL'" ng-model="gRecaptchaResponse" on-success="downloadZip()" ng-show="pageMeta.captcha")
											//- div(ng-show="pageMeta.captcha" class="g-recaptcha" data-sitekey="6LchMhIUAAAAAGjGCfNGxPkOJPl3ilJ2sQrapbbL" data-callback="downloadZip")
					
																						
										// When a LPD file is chosen, all the files inside are listed here.
										li(style="list-style-type: none;")
											pre(ng-class="feedback.errCt>0 ? 'on' : 'off'" style="background-color:#FEBABB; border: none;") {{ feedback.errCt}} errors
												ul
													li(ng-repeat="err in feedback.errMsgs track by $index") {{err}}

											pre(ng-class="feedback.wrnCt>0 ? 'on' : 'off'" style="background-color:#FEEEB6; border: none;") {{ feedback.wrnCt }} warnings
												ul
													li(ng-repeat="wrn in feedback.wrnMsgs track by $index") {{wrn}}
													
											//- pre(ng-class="feedback.posMsgs.length>0? 'on': 'off'" style="background-color:#DFF1C1; border: none;")
											//- 	ul
											//- 		li(ng-repeat="pos in feedback.posMsgs track by $index") {{pos}}

											pre(ng-class="pageMeta.valid? 'on' : 'off'" style="background-color:#DFF1C1; border: none;") Validation Complete!

												
											pre#metaPretty(ng-model="files.json")
											//- pre#csvPretty
										li(style="list-style-type: none;")
											pre(ng-class="files.fileCt > 0? 'on' : 'off'" style="background-color:#eee; border: none;") {{files.fileCt}} files in LiPD
												ul
													li(ng-repeat="file in allFiles track by $index" ng-click="showAdvanced($event, file)") {{ file.filenameShort }}
											
							div(class="span span50")
								md-toolbar.md-hue-1
									h2.md-toolbar-tools
										span Edit & Validate
								div
									ol
										// this is strictly a placeholder to mirror the spacing on the other column. it has no function. 
										li(style="display:hide; visibility:hidden;list-style-type: none;")
											label(style="display:hide; visibility:hidden;")
												span
												select
													option
										li#buttons(style="list-style-type: none;")
											// button to download validated lipd file
											button.valid-btn(ng-click="validate(json.metadata)" ng-disabled="pageMeta.filePicker") Validate
											// toggle simple view: default to simple view
											button.valid-btn(ng-click="pageMeta.simpleView = !pageMeta.simpleView" ng-disabled="pageMeta.simpleView") Simple
											// toggle advanced view
											button.valid-btn(ng-click="pageMeta.simpleView = !pageMeta.simpleView" ng-disabled="!pageMeta.simpleView") Advanced
								div#tree-contain(ng-if="pageMeta.simpleView")
									json-tree(json="files.jsonSimple" node="nodeOptions" collapsed-level="2" edit-level="low")
								div#tree-contain(ng-if="!pageMeta.simpleView" ng-model="files.json")
									json-tree(json="files.json" node="nodeOptions" collapsed-level="2" edit-level="high")

// block js will insert js scripts listed in footer.jade that are needed on every page.
block js
	// files below are page specific
	script(src='apps/validateApp.js')
	script(src='js/ngValidate.js')
	script(src="lib/angular-busy.js")
	script(src='lib/json-tree.js')
	script(src="lib/zip/zip.js")
	script(src="lib/zip/zip-ext.js")
	script(src="lib/papaparse.min.js")
	script(src="lib/FileSaver.min.js")
	script(src="scripts/validator_ext.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/3.2.1/angular-recaptcha.min.js")
	script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.0/angular-google-maps.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload-shim.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js")
	script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA7HRzSi5HhyKTX9Xw7CZ-9XScwq04TZyc')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js")
	script(src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js")
