<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GeoChronR</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<style>
    body {
        background-color:#337BB8;
    }
</style>

<body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="text-center">GeoChronR</h1>
                  </div>
                  <div class="modal-body">
                      <form class="form center-block">
{#                          <p>GeoChronR</p>#}
                        <div class="form-group">
                          <input type="text" class="form-control input-lg" placeholder="Filename">
                        </div>
                        <div class="form-group">
                          <input type="browse" class="form-control input-lg" placeholder="Browse for file">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-lg btn-block" style="background-color:white; color:black;"><a href="/validate">Validate</a></button>
                        </div>

                      </form>
                  </div>
              </div>
          </div>
    </div>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script>
    $(document).ready(function(){
        $.get('/login');
    })
</script>

</body>
</html>