extends layout

block body
  body(ng-app='upload' ng-controller='ctrl')
    form#uploadForm(action="/test" enctype="multipart/form-data" method='post')
      label Upload File Here
      div.button(type="file" ngf-select='uploadFiles($file)' ngf-max-size='1MB') Select
      div.button(type="submit" ng-click="submit()") Submit
    pre#status
    pre {{filename}}
    pre(ng-repeat='(k,v) in file')
      p {{k}}
      p {{v}}

      
block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload-shim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.1/ng-file-upload.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
  script(src='js/uploadApp-test.js')
  script(src='js/test.js')
